<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="fragments/common-head :: common-head">
  </head>
  <body>
    <h1>Detalle de Producto <span th:text="${nombre}"></span>!</h1>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <button
                type="button"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#editarProductoModal"
            >Editar</button>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td th:text="${producto.id}"></td>
                </tr>
                <tr>
                    <th>nombre</th>
                    <td th:text="${producto.nombre}"></td>
                </tr>
                <tr>
                    <th>precio</th>
                    <td th:text="${producto.precio}"></td>
                </tr>
            </table>
            <button type="button" class="btn btn-danger" onclick="mostrarModalEliminar()">Eliminar</button>
            <a href="/producto/listado-producto" class="btn btn-primary">Volver al listado</a>
        </div>
        
        <!--Ventana modal de edicion-->
        <div
            class="modal fade"
            id="editarproductoModal"
            tabindex="-1"
            aria-labelledby="editarProductoModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarProductoModalLabel">Editar Producto</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form id="editarProductoForm">
                            <input type="hidden" id="productoId" th:value="${producto.id}">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">nombre</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="nombre"
                                    th:value="${producto.nombre}"
                                >
                            </div>
                            <div class="mb-3">
                                <label for="precio" class="form-label">precio</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="precio"
                                    th:value="${producto.precio}"
                                >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="actualizarproducto()">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ventana modal de confirmación de eliminación -->
        <div
            class="modal fade"
            id="eliminarproductoModal"
            tabindex="-1"
            aria-labelledby="eliminarProductoModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarProductoModalLabel">Confirmar eliminación</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar el producto con ID:
                        <span id="modalEliminarProductoId"></span>
                        ?
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" onclick="eliminarproducto()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ventana modal de confirmación de eliminación exitosa -->
        <div
            class="modal fade"
            id="eliminacionExitosaModal"
            tabindex="-1"
            aria-labelledby="eliminacionExitosaModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminacionExitosaModalLabel">Eliminación exitosa</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        El producto se ha eliminado correctamente.
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            onclick="redirigirAlListado()"
                        >Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ventana modal de confirmación -->
        <div
            class="modal fade"
            id="confirmModal"
            tabindex="-1"
            aria-labelledby="confirmModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Operación exitosa</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- mensaje de que el producto se ha actualizado con el id de la producto-->
                        <p>El producto con ID:
                            <span id="modalProductoId"></span> se ha actualizado con éxito.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ventana modal de error -->
        <div
            class="modal fade"
            id="errorModal"
            tabindex="-1"
            aria-labelledby="errorModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        Ocurrió un error al actualizar el producto. Por favor, inténtalo de nuevo.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    function actualizarproducto() {
  const productoId = document.getElementById('productoId').value;
  const nombre = document.getElementById('nombre').value;
  const precio = document.getElementById('precio').value;

  const data = {
    id: productoId,
    nombre: nombre,
    precio: precio,
  };

  fetch(`/producto/${productoId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
    .then((response) => {
      if (response.ok) {
        // Mostrar ventana modal de confirmación
        document.getElementById('modalProductoId').innerText = productoId; // Agregar esta línea
        $('#editarProductoModal').modal('hide');
        $('#confirmModal').modal('show');
        // Recargar la página después de un tiempo
        setTimeout(() => {
          location.reload();
        }, 2000); // El tiempo de espera en milisegundos antes de recargar la página
      } else {
        // Mostrar ventana modal de error
        $('#editarProductoModal').modal('hide');
        $('#errorModal').modal('show');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
      // Mostrar ventana modal de error
      $('#editarProductoModal').modal('hide');
      $('#errorModal').modal('show');
    });
}
//Eliminar producto
function eliminarproducto() {
    const productoId = document.getElementById('productoId').value;

    fetch(`/producto/${productoId}`, {
        method: 'DELETE',
    })
        .then((response) => {
            if (response.ok) {
                // Mostrar ventana modal de eliminación exitosa
                $('#eliminarProductoModal').modal('hide');
                $('#eliminacionExitosaModal').modal('show');
            } else {
                // Mostrar ventana modal de error
                $('#eliminarProductoModal').modal('hide');
                $('#errorModal').modal('show');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            // Mostrar ventana modal de error
            $('#eliminarProductoModal').modal('hide');
            $('#errorModal').modal('show');
        });
}

//mostrar modal Eliminar
function mostrarModalEliminar() {
  const productoId = document.getElementById('productoId').value;
  document.getElementById('modalEliminarProductoId').innerText = productoId;
  $('#eliminarProductoModal').modal('show');
}


//obtener el id de un producto para eliminarle
document.getElementById('modalEliminarProductoId').textContent = productoId;

//redirigir al listado principal despues de eliminar un producto
function redirigirAlListado() {
    window.location.href = "/producto/listado-producto";
}
    </script>
</html>