<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/common-head :: common-head"></head>
<body>
<h1>Listado de comandas</h1>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <button type="button" class="btn btn-primary my-3" onclick="location.href='/comanda/view-add'">Agregar Comanda</button>
    <button type="button" class="btn btn-primary my-3" onclick="location.href='/hello'">Volver a Home</button>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Mesa</th>
            <th>Camarero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Importe Comanda</th>
            <th>Num. Comensales</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comanda : ${comandas}">
            <td th:text="${comanda.id}" th:data-id="${comanda.id}"></td>
            <td th:text="${comanda.mesa.id}" th:data-mesa="${comanda.mesa.id}"></td>
            <td th:text="${comanda.idCamarero.id}" th:data-camarero="${comanda.idCamarero.id}"></td>
            <td th:text="${comanda.date}" th:data-date="${comanda.date}"></td>
            <td th:text="${comanda.hour}" th:data-hour="${comanda.hour}"></td>
            <td th:text="${comanda.importeComanda}" th:data-importeComanda="${comanda.importeComanda}"></td>
            <td th:text="${comanda.numComensales}" th:data-numComensales="${comanda.numComensales}"></td>
            <td>
                <a th:href="@{/comanda/edit/{id}(id=${comanda.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/comanda/delete/{id}(id=${comanda.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
